<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Marklon Tech | About</title>
    <link rel="stylesheet" href="static/ucss/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Marklon</span> Tech</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/cyba_tech">Home</a></li>
            <li class="current"><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/u_logout">Log out</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Get Company Updates</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button-1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <h3>Life at Marklon Tech Company</h3>
          <p>
We cultivate a collaborative culture committed to developing innovative solutions, and prioritize hiring exceptional and hard-working talent.

As a vertically-integrated company, all TBC employees provide key contributions to realizing high-speed tunnel transit.
          </p>
        <h3>Culture of Ownership and Competition</h3>
          <p class="dark">
To own a project is to take it from concept to completion and every TBC employee owns their responsibilities. 

TBC is a lean company, so employees work with whatever they have to inspire creative solutions.

We encourage competition and seek individuals that know how to get things done: the Not-A-Boring Competition exemplifies these values.
          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Careers</h3>
            <p>We're looking for talented individuals ready to get their hands dirty to make a meaningful impact that will last for generations to come. We are an equal opportunity employer offering competitive salaries, comprehensive health benefits, and equity packages</p>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <p>MKX Copyright &copy; 2021 | Legal</p>
    </footer>
  </body>
</html>