<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Marklon Tech | Services</title>
    <link rel="stylesheet" href="static/ucss/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Marklon</span>Tech</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/cyba_tech">Home</a></li>
            <li class="current"><a href="services.html">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/u_logout">Log out</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Receive Updates</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button-1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Services</h1>
          <ul id="services">
            <li>
              <h3>Marklon Tech Mission</h3>
              <p>
               Marklon Tech's mission is to accelerate the world's transition to sustainable energy. We hire the world's best and brightest people to help make this future a reality.</p>
            </li>
            <li>
              <h3>Industrial Automation</h3>
              <p>Rethink Robotics describes itself as a new kind of robotics company, and the company’s mission is to create a new kind of manufacturing robot. One that introduces robotics into processes that manufacturers have never been able to cost-effectively automate. The robots can  work safely alongside human counterparts, who are able to train them with no programming or engineering expertise. This approach of providing robots with ‘common sense’ allows them to perform a wide range of tasks and vastly improve productivity..</p>    </li>
            <li>
              <h3>Education</h3>
              <p>RobotsLAB has developed the RobotsLAB BOX, an all-in-one tailored solution featuring various robots and a tablet allowing teachers to control the robots, and run exercises and lessons in the palm of their hand without any prior experience with robotics. Without any prior experience in robotics or computer science, teachers can demonstrate abstract concepts like slope, sine, cosine, and vectors.</p>
                          
            </li>
          </ul>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Wild Science Thoughts</h3>
            <form class="quote">
                        <div>
                            <label>Name</label><br>
                            <input type="text" placeholder="Name">
                        </div>
                        <div>
                            <label>Email</label><br>
                            <input type="email" placeholder="Emial Address">
                        </div>
                        <div>
                            <label>Message</label><br>
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <button class="button_1" type="submit">Send</button>
                    </form>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <p>MKX Copyright &copy; 2021 | Legal</p>
    </footer>
  </body>
</html>
