<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Marklon Tech | Welcome</title>
	<link rel="stylesheet" href="static/ucss/style.css">
</head>
<body>
    <header>
    	<div class="container">
    		<div id="branding">
    		<h1><span class="highlight">Marklon</span> Tech</h1>
    		</div>
    	<nav>
    		<ul>
    			<li class="current"><a href="/cyba_tech.html">Home</a></li>
    			<li><a href="/services">Services</a></li>
    			<li><a href="/about">About</a></li>
            <li><a href="/u_logout">Log out</a></li>
    		</ul>
    	</nav>
    </div>
    </header>
     <section id="criteria">
     	<div class="container">
     	  <h1>World of Creativity, Innovation and Technology </h1>
     	  <p>Who trusted God was love indeed
          And love Creation’s final law –
          Tho’ Nature, red in tooth and claw
          With ravine, shriek’d against his creed …</p>
        </div>
     </section>
     
     <section id="newsletter">
     	<div class="container">
        	<h1>Subscribe for more company product updates and news</h1>
        	<form>
        		<input type="email" placeholder="Enter Email ...">
        		<button type="submit" class="button-1">Subscribe</button>
        	</form>
        </div>
     </section>

     <section id="boxes">
     	<div class="container">
        	<div class="box">
        	  <img src="static/uimg/rckt.jpg">
        	  <h3>ROCKET Science</h3>
        	  <p>SN 10 advanced rocket prototypes with self-landing mode</p>
        	</div>
        	<div class="box">
        	  <img src="static/uimg/rbt.jpg">
        	  <h3>ROBOT Designing</h3>
        	  <p>Environmental human friendly automated machines</p>
        	</div>
        	<div class="box">
        	  <img src="static/uimg/scmp.jpg">
        	  <h3>SUPER-COMPUTER structures</h3>
        	  <p>World super fast strong computers and servers</p>
        	</div>
        </div>
     </section>
        
     <footer>
        <p>MKX Copyright &copy; 2021 | Legal</p>	
     </footer>
</body>
</html>